{
	servers {
		protocols h1 h2
	}
	auto_https off
	admin off
	debug
}
:{$PORT:8032} {
	log {
		level DEBUG
	}
	@head {
		method HEAD
	}
	handle @head {
		respond "" 200
	}

	route * {
		python {
			module_asgi "server:app"
			venv "./venv"
		}
	}
}
