{
	servers {
		protocols h1 h2
	}
	auto_https off
	admin off
	debug
}
:{$PORT:8032} {
	log {
		level DEBUG
	}

	file_server {
		hide server.py Caddyfile Dockerfile README.md LICENSE requirements.txt .gitignore .dockerignore venv __pycache__
	}

	route /socket.io/* {
		python {
			module_asgi "server:app"
			venv "./venv"
		}
	}
}
